<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>

    </ion-buttons>
    <ion-title>ContactsApp</ion-title>
  </ion-toolbar>
  <ion-row class="ion-justify-content-center">
    <ion-col size-md="6">
  <ion-list-header   >
    <ion-button routerLink="/">Home</ion-button>
    <ion-button routerLink="/dashboard">Dashboard</ion-button>
    <ion-button routerLink="/posts">Post</ion-button>
    <ion-button routerLink="/actions">Actions</ion-button>
    <ion-button routerLink="/login">login</ion-button>
    <ion-button routerLink="/register">Register</ion-button>
  </ion-list-header>
</ion-col>
</ion-row>
<ion-header>
